 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Eu sou Marcelo Rocha, desenvolvedor de software fascinado por web e tecnologia. Amo criar coisas para web.</p>
                    <p>Estudei na <a href="http://www.fatecjd.edu.br" target="_blank" style="color:#300E33;">Fatec Jundiaí</a> e
                     <a href="http://www.etevav.com.br/" target="_blank" style="color:#300E33;">ETEVAV</a>, atualmente moro em São Paulo e trabalho na
                     <a href="http://promosapiens.com.br" target="_blank" style="color:#300E33;">Promo Sapiens</a>.
                    </p>
                    <p>Trabalho utilizando PHP, CakePHP, Javascript, jQuery, HTML, CSS e banco de dados MySql.</p>
                </div>
                <div class="col-lg-4">
                    <p>Adoro pesquisar sobre novas técnologias, novas métodologias de desenvolvimento. Tenho brincado com AngularJS, Elasticsearch, Swift(IOS)</p>
                    <p>Gosto de ler livros, HQs e mangás, assistir filmes, seriados e animes. Sempre que possível tento estar em contato com a natureza (minha outra paixão).</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!-- <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Currículo
                    </a> -->
                </div>
            </div>
        </div>
    </section>
