    <!-- PRecent Posts -->
    <section id="posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Blog</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <ul class="posts noList">
                    {% for post in site.posts %}
                      <li>
                        <span class="date">{{ post.date | date: '%d / %m / %Y' }}</span>
                        <h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
                        <p class="description">{% if post.description %}{{ post.description | strip_html | strip_newlines | truncate: 250 }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 250 }}{% endif %}</p>
                      </li>
                    {% endfor %}
                  </ul>
                  </div>
                </div>
            </div>
        </div>
    </section>